<%= form_for [@market, @feature], :html => { :multipart => true } do |f| %>
	<% if @feature.errors.any? %>
	<div id="error_explanation">
		<h2><%= pluralize(@feature.errors.count, "error") %> prohibited this feature from being saved:</h2>

		<ul>
		<% @feature.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<div class="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div class="field">
		<%= f.label :remoteId %>
		<%= f.text_field :remoteId %>
	</div>
	<div class="field">
		<%= f.label :remoteMarketId %>
		<%= f.text_field :remoteMarketId %>
	</div>
	<div class="field">
		<%= f.label :content %>
		<%= f.text_area :content %>
	</div>
	<div class="field" id="files">
		<% if @feature.assets.exists? %>
			<!% number = @feature.assets.count %>
			<% number = 0 %>
			<div class="assets">
				<% @feature.assets.each do |asset| %>
					<p>
						<%= image_tag(asset.asset.url) %> <!%= link_to File.basename(asset.asset.path), asset.asset.url %>
						<br />
						<%= link_to 'Delete image', 
							{ :controller => 'files', :action => 'destroy', :id => asset.id },
							{ :confirm => 'Are you sure?', :method => :delete}
						%>
					</p>
				<% end %>
			</div>
				<%= f.fields_for :assets, :child_index => number do |asset| %>
					<p>
						<% if @feature.assets.empty? %>
							<%= asset.label :asset, "File ##{number += 1}" %>
							<%= asset.file_field :asset %>
						<% end %>
					</p>
				<% end %>
		<% else %>
			<% number = 0 %>
			<%= f.fields_for :assets, :child_index => number do |asset| %>
				<p>
					<%= asset.label :asset, "File ##{number += 1}" %>
					<%= asset.file_field :asset %>
				</p>
			<% end %>
		<% end %>
	</div>
	<%= link_to "Add another image", 'javascript:', :id => "add_another_file" %>
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
