<%= form_for [@market, @feature] do |f| %>
  <% if @post.errors.any? %>
  <div class="field">
	<%= f.label :title %>
    <%= f.text_field :title %>
  </div>
<div class="field">
	<%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>